ul {
  list-style-type: none;
}

.user-row {
  margin: 20px auto;
  background-color: rgb(255, 254, 234);
  padding: 10px;
  text-align: center;
  width: 400px;
}

.user-row:hover {
  background-color: rgb(255, 251, 175);
}

.user-name {
  width: 150px;
  display: inline-block;
}

.user-city {
  width: 150px;
  display: inline-block;
}

.adduser-button{
  position: relative;
  margin-top: 10px;
  background-color: #FC9;
  padding: 15px;
}

.adduser-button:hover{
  background-color: #999;
  cursor: pointer;
}

.deleteuser-button{
  position: relative;
  margin-top: 10px;
  background-color: #FC9;
  padding: 15px;
}

.deleteuser-button:hover{
  background-color: #999;
  cursor: pointer;
}

.modify-button{
  position: relative;
  margin-top: 10px;
  background-color: #FC9;
  padding: 15px;
}

.modify-button:hover{
  background-color: #999;
  cursor: pointer;
}

.index{
  position: relative;
  margin-top: 10px;
}