body{
  background-color: #D3D3D3;
}

#send{
  position: relative;
  margin-top: 10px;
  background-color: #AFEEEE;
  padding: 10px;
}

#send:hover{
  cursor: pointer;
}

#message{
  position: relative;
  margin-top: 10px;
  width: 20%;
}

#chat{
  width: 20%;
  background-color: #FFF0F5;
  text-align: left;
}