body{
	padding: 20px;
	text-align: center;
	background-color: #B2C2D1;
}

#widget{
	width: 60px;
	background-color: #555;
	margin: 0 auto;
	padding: 10px;
}

#rezultat{
	height: 50px;
	width: 50px;
	margin: 0 auto;
	background-color: #fff;
	color: #555;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	position: absolute;
	top: 10px;
	left: 880px;
}



#adunare{
	margin-top: 10px;
	height: 50px;
	width: 50px;
	background-color: #5b9aff;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border: 0px;
	position: absolute;
	top: 60px;
	left: 610px;
}

#adunare:hover{
	cursor: pointer;
	background-color: #8cb8ff;
	color: #fff;
}

#scadere{
	margin-top: 10px;
	height: 50px;
	width: 50px;
	background-color: #5b9aff;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border: 0px;
	position: absolute;
	top: 60px;
	left: 670px;
}

#scadere:hover{
	cursor: pointer;
	background-color: #8cb8ff;
	color: #fff;
}

#inmultire{
	margin-top: 10px;
	height: 50px;
	width: 50px;
	background-color: #5b9aff;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border: 0px;
	position: absolute;
	top: 120px;
	left: 610px;
}

#inmultire:hover{
	cursor: pointer;
	background-color: #8cb8ff;
	color: #fff;
}

#impartire{
	margin-top: 10px;
	height: 50px;
	width: 50px;
	background-color: #5b9aff;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border: 0px;
	position: absolute;
	top: 120px;
	left: 670px;
}

#impartire:hover{
	cursor: pointer;
	background-color: #8cb8ff;
	color: #fff;
}